@use "global";

.AddComp {
	width: 100%;
	height: 100%;
padding: 20px;
}

form {
	height: 100%;

		.inputs-con {
			width: 100%;
			height: 100%;
			display: grid;
			align-items: center;
			grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
			align-items: center;
			gap: 20px;

			.label-input-con {
				padding: 2em;
				display: grid;
				background-color: global.$awwssse-white;
				font-size: 13px;
				text-transform: uppercase;
				border-radius: 8px;
				row-gap: 20px;

				.label {
					text-transform: uppercase;
					align-self: center;
					color: global.$table-body;
				}

				.logo {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				.input {
					width: 100%;
					height: 40px;
					padding: 0 5px;
					border-radius: 5px;
					border: 1px solid global.$hor-line;
					color: global.$table-body;
					border-radius: 5px;
					outline: none;
					font-weight: 100;

				}
																																																																																																																																.btn {
																																																																																																																																	font-weight: bold;
				
									&:hover {
											scale: 1.0125;
										}
									}
				.form-btn {
					background-color: global.$awwssse-blue;
					color: global.$awwssse-white;
					// cursor: pointer;
					&:hover {
								background-color: #1d56c9;
									// background-color: #0E45B7;
						}

				}
.cancel-btn {
	background-color: global.$awwssse-gray;
color: global.$awwssse-white;

	&:hover {
		background-color: #adacac;
		// background-color: #9B9B9B;
	}
}

				.textarea {
					height: 200px;
					resize: none;
					// border: 2px solid red;
				}

				.error {
					border: 2px solid red;
				}
}
		}

}
