@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue: #1e90ff;
    --app-blue: #0E45B7;
    --light-blue: #0E45B726;
    --sky: #3FBDF1;
    --light-sky: #DCF3FD;
    --app-green: #71DDB1;
    --green: rgb(0, 128, 0);
    --light-green: #71DDB1;
    --app-yellow: #FFC700;
    --light-yellow: #FDF6DF;
    --red: #FF0000;
    --light-red: #FCF2F2;
    --dark-gray: #9B9B9B;
    --slight-blue: #231F20;
    --slate: #F2F8FD;
    --slate2: #deeefa;
    --hor-line: #3FBDF133;
    --table-body: #212121;
    --table-head: #FAFAFB;
    --dark: #231F20;
    --table-border: #E0E0E0;
    --overlay: #BEBDBDCC;
    --white: #ffffff;
}
body {
    font-family: 'Poppins',
        'Nunito Sans',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        open-sans,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(241, 245, 241);
    height: 100vh;
        width: 100vw;
        overflow: hidden;
}

::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}
.App {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    /* place-items: center; */
        overflow: hidden;
}

.gridfullcol {
    grid-column: 1/-1;
}

.grid9col {
    grid-column: 4/-1;
}

.grid3col {
    grid-column: 1/4;
}

.grid11row {
    grid-row: 2/-1;
}

.gridcentercol {
    grid-column: 4/-3;
}

.gridcenterrow {
    grid-row: 3/-2;
}

.gridautofit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.border {
    border: 2px solid blue;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
