@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  font-family: "Rubik", "Roboto", "Open Sans", sans-serif;
}

.company-logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.p1em {
  padding: 0 1em;
}

.fullscreen {
  /* width: 100%; */
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

.pagination {
  width: 100%;
  /* border: 2px solid red; */
  /* margin-top: auto; */
  position: absolute;
  bottom: 0;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: #BEBDBDCC;
  /* background: #f8f6f6cc; */
  opacity: 1;
  display: grid;
  place-items: center;
  z-index: 90;

}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}